.home-container {
  height: 100vw;
  width: 75vw;
 
  background: #f7ecdc;
}

.header-note {
  display: flex;
  justify-content: center;
  height: 7vw;
  width: 75vw;
  
  background: whitesmoke;
  text-transform: capitalize;
}
