.note-title-list {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 68.9px;
  top: 309.18px;
  left: 44px;
  
  margin-top: 10px;
  cursor: pointer; /* Add cursor style to indicate clickability */
}

.note-title {
  font-family: Roboto;
  color: black;
  font-size: 31px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}


.note-title-list.clicked {
  background: #f7ecdc;
}
