.note-title-list {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 68.9px;
  top: 309.18px;
  left: 44px;
  
  margin-top: 10px;
  cursor: pointer; /* Add cursor style to indicate clickability */
}

.note-title {
  font-family: Roboto;
  color: black;
  font-size: 31px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}


.note-title-list.clicked {
  padding: 10px;
  border-radius:20% 0% 0% 20%;
  background: #f7ecdc;
  
  
}
.title-logo-root{
  position: absolute;
  left: 4%;
}
.title__logo{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-weight: 500;
  color: white;
  left: 0%;
}

