/* .home-container {
    display: flex;
    
  } */
  .sidebar-container {
   
    height: 56vw;
    width: 22%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
   
  }
  
  .create-note-button {
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 343px;
    height: 51px;
    top: 117px;
    left: 44px;
    border-radius: 50px;
    
    cursor: pointer;
    
  }
  .note-list-container{
    margin-left: 36px;
    
   
  }
  